* {
    text-align: center;
    background-color: #EEF4ED;
}

body {
    max-width: 400px;
    margin: 0 auto;
}

h2 {
    background-color: #85B093;
    text-align: left;
    margin-top: 0;
    padding: 10px
}

h3 {
    background-color: #85B093;
    text-align: left;
}

.kind {
    background-color: #EEF4ED;
    margin-bottom: 5px;
}

nav {
    background-color: #326D6C;
    padding: 5px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

nav img {
    background-color: #326D6C;
    max-width: 75px;
}

nav a {
    background-color: #85B093;
    color: black;
    text-decoration: none;
}

#homePageQuestions {
    background-color: #85B093;
    padding: 25px;
    margin: 0 auto;
    min-height: 80vh;
}

#homePageQuestions button {
    background-color: #EEF4ED;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 5px;
    width: 300px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.submitButton {
    margin-top: 25px;
}

label {
    background-color: #85B093;
}

#dropdownContent {
    text-align: left;
    background-color: #85B093;
}

#dropdownContent2 {
    text-align: left;
    background-color: #85B093;
}

.radio {
    background-color: #85B093;
}

.buttons {
    text-align: left;
    margin-bottom: 75px;
}

.buttons button {
    background-color: #85B093;
    border: none;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 8px;
    margin-left: 10px;
}

.recommendations {
    background-color: #85B093;
}

.recommendation {
    padding: 20px;
    background-color: #EEF4ED;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.backButton {
    width: 25px;
    height: 25px;
    background-color: #85B093;
    border: none;
}

.backButtonImage {
    width: 25px;
    height: 25px;
    background-color: #85B093;
}