* {
    color: black;
}

body {
    margin: 0 auto;
    background-color: #EEF4ED;
}

h2 {
    font-size: 3rem;
    text-align: left;
    margin-top: 0;
    padding: 10px
}

h3 {
    font-size: 2rem;
    text-align: left;
    padding-left: 25px;
    margin-top: 0;
}

.titelInventarisatie {
    background-color: #BDD1BD;
    text-align: left;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding-left: 15vw;
}

.vragenDagelijks {
    margin-top: 4vh;
    background-color: #EEF4ED;
    width: 100vw;
}

#underTitle {
    background-color: #EEF4ED;
    margin-bottom: 1vh;
    margin-left: 1vh;
    font-size: 3rem;
    padding-bottom: 5px;
    padding-top: 5px;
}

.underTitle2 {
    background-color: #BDD1BD;
    margin-bottom: 1vh;
    font-size: 3rem;
    padding-bottom: 5px;
    padding-top: 5px;
}

.underTitle3 {
    background-color: #EEF4ED;
    margin-bottom: 1vh;
    margin-left: 1vh;
    font-size: 3rem;
    padding-bottom: 1.5vh;
    padding-top: 1.5vh;
}

.gap {
    padding: 1vh;
}

.workout {
    background-color: #EEF4ED;
    margin: 0;
    font-size: 3rem;
    padding-left: 4vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

nav {
    background-color: #326D6C;
    padding: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    max-width: 13vw;
}

nav a {
    color: black;
    text-decoration: none;
}

.profileButton {
    border: none;
    background-color: #85B093;
    width: 20vw;
    border-radius: 20px;
    font-size: 2rem;
    padding: 20px;
    margin-right: 2vw;
}

#homePageQuestions {
    background-color: #85B093;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
}

#homePageQuestions h3 {
    padding-top: 1vh;
}

#homePageQuestions button {
    font-size: 2rem;
    background-color: #EEF4ED;
    border: none;
    border-radius: 20px;
    width: 70vw;
    height: 5vh;
}

.vragen {
    padding: 0;
    width: 70vw;
}

.submitButton {
    margin-top: 25px;
}

#dropdownContent {
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: left;
    font-size: 2rem;
    padding-right: 47vw;
}

#dropdownContent2 {
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: left;
    font-size: 2rem;
    padding-right: 11vw;
}

.radio {
    display: flex;
    text-align: center;
}

.radio input {
    height: 1.5rem;
    width: 100%;
}

.radio label {
    font-size: 2rem;
    padding: 1vw;
    font-weight: bold;
}

.workoutTitle {
    font-size: 3.5rem;
    margin-left: 1vh;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.workoutTitle1 {
    font-size: 3rem;
    margin-left: 1vh;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.titleBorder {
    background-color: #85B093;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.buttons {
    text-align: left;
    margin-bottom: 75px;
}

.buttons button {
    background-color: #85B093;
    border: none;
    border-radius: 4px;
    padding: 20px 40px;
    margin-left: 50px;
    margin-top: 2vh;
    font-size: 1.5rem;
}

.recommendations {
    background-color: #85B093;
    margin-bottom: 0;
    padding-top: 0.3vh;
    font-size: 2rem;
}

.recommendations2 {
    background-color: #85B093;
    margin-bottom: 0;
    font-size: 2rem;
}

.recommendation {
    padding: 20px;
    background-color: #EEF4ED;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.recommendation2 {
    padding: 20px;
    background-color: #EEF4ED;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer {
    width: 1.7vh;
    height: 1.7vh;
}

.energy {
    width: 1.7vh;
    height: 1.7vh;
}

.backButton {
    background-color: #EEF4ED;
    border: none;
}

.backButton1 {
    background-color: #85B093;
    border: none;
}

.backButtonImage {
    width: 70px;
    background-color: #EEF4ED;
    cursor: pointer;
}

.backButtonImage1 {
    width: 70px;
    background-color: #85B093;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.profileData {
    background-color: #EEF4ED;
}

.profileData label {
    background-color: #EEF4ED;
}

.profileData a {
    text-decoration: none;
    color: lightgray;
}

.profileData img {
    width: 60%;
    border-radius: 50%;
}

.profileBack {
    background-color: #EEF4ED;
}

#firstname, #lastname {
    background-color: #BDD1BD;
    border: none;
    padding: 1vh 5vh 1vh 8vh;
    border-radius: 0.5vh;
    margin-bottom: 1vh;
}

label {
    font-size: 2.5rem;
}

.upperProfile {
    display: flex;
    align-items: center;
}

.nameInputs {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.profileImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    font-size: 3rem;
}

.contactInfo {
    margin-top: 3vh;
    margin-left: 4vh;
    max-width: 44.5vh;
}

.inputFlex {
    display: flex;
    flex-direction: column;
}

#phonenumber, #email {
    background-color: #BDD1BD;
    border: none;
    padding: 1vh 5vh 1vh 1vh;
    border-radius: 0.5vh;
    margin-bottom: 1vh;
}

.editProfile {
    background-color: #85B093;
    border: none;
    padding: 1vh 5vh 1vh 5vh;
    border-radius: 0.75vh;
    margin-left: 4vh;
    margin-top: 2vh;
    font-size: 2rem;
    margin-bottom: 4vh;
}

#contact {
    background-color: #EEF4ED;
}

.text {
    font-size: 3rem;
    margin-left: 3vh;
}

p.text2 {
    font-size: 2rem;
    margin-left: 2vh;
    margin-bottom: 1vh;
}

.message {
    font-size: 3rem;
    margin-left: 3vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
}

#message {
    background-color: #BDD1BD;
    border: none;
    padding: 1vh 3vh 10vh 1vh;
    border-radius: 0.5vh;
    max-width: 40vh;
}

#contactButton {
    background-color: #85B093;
    border: none;
    padding: 1vh 5vh 1vh 5vh;
    border-radius: 0.75vh;
    margin-left: 3vh;
    margin-top: 2vh;
    font-size: 2rem;
    margin-bottom: 4vh;
}

.repSection {
    max-width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
    margin-top: 2vh;
}

.reps {
    width: 20vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reps img {
    width: 3.5vw;
}

.reps p {
    font-size: 2rem;
}

.amountReps {
    background-color: #BDD1BD;
    padding: 0.1vh 2vw;
    border-radius: 0.5vh;
}

.amountReps2 {
    background-color: #BDD1BD;
    padding: 0.1vh 2vw;
    margin-right: 1vh;
    border-radius: 0.5vh;
}

.sets {
    margin-left: 2vh;
    margin-right: 1vh;
}

.add button {
    font-size: 2rem;
    flex: 3;
    font-weight: bold;
    border: none;
}

.workoutButtons {
    display: flex;
    gap: 5vw;
    justify-content: center;
}

.workoutButtons button {
    background-color: #85B093;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    padding: 15px 30px;
    font-weight: bold;
}

.spaceBetween {
    height: 5vh;
}

.locations {
    display: flex;
    gap: 3vw;
    padding: 3vh 5vh 11vw;
}

.locations button {
    background-color: #BDD1BD;
    border: none;
    font-size: 2rem;
    padding: 0.5vh 3vw;
    border-radius: 10px;
}

.durations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
    gap: 2vw;
}

.row {
    display: flex;
    gap: 2vw;
}

.durations button {
    background-color: #BDD1BD;
    border: none;
    font-size: 2rem;
    width: 25vw;
    height: 3vh;
    border-radius: 10px;
}

#filterButton {
    background-color: #85B093;
    font-size: 2.3rem;
    font-weight: bold;
    padding: 1vh 7vw;
    border: none;
    border-radius: 10px;
}

.filterButton {
    text-align: center;
    margin-top: 7vh;
}

iframe {
    width: 980px;
    height: 550px;
}

.infoFlex {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.iconInfo {
    width: 30vh;
}

.iconInfo img {
    width: 2vh;
    height: 2vh;
    margin-left: 1vh;
}

.text2 {
    margin: 0;
    font-size: 2rem;
}

.text3 {
    margin: 0.6vh 0 0 0;
    font-size: 1.9rem;
}

.info {
    margin-top: 1.7vh;
}

#changeButton, #changeButton2, #changeButton3, #changeButton4, #changeButton5 {
    border: none;
    background-color: #BDD1BD;
    border-radius: 1vh;
    font-size: 2rem;
    padding: 0.8vh 3vh 0.8vh 3vh;
    margin-right: 2vh;
    margin-top: 2.3vh;
    margin-bottom: 2.7vh;
}

#startWorkoutButton {
    border: none;
    background-color: #85B093;
    border-radius: 1vh;
    font-size: 3rem;
    padding: 1vh 8vh 1vh 8vh;
}

#nextExercise{
    border: none;
    background-color: #85B093;
    border-radius: 1vh;
    font-size: 3rem;
    padding: 1vh 8vh 1vh 8vh;
}

.start {
    text-align: center;
    margin-bottom: 4vh;
}

.setNumber {
    margin-right: 1.5vh;
}

.reps2 {
    margin-right: 6vh;
}

.details {
    margin-bottom: 3vh;
}

.info2 {
    margin-bottom: 8vh;
}