body {
    margin: 0 auto;
}

h2 {
    font-size: 3rem;
    text-align: left;
    margin-top: 0;
    padding: 10px
}

h3 {
    font-size: 2rem;
    text-align: left;
    padding-left: 25px;
    margin-top: 0;
}

.titelInventarisatie{
    background-color: #BDD1BD;
    text-align: left;
}

.vragenDagelijks{
    margin-top: 1vh;
    margin-bottom: 20px;
    background-color: #BDD1BD;
}

.kind {
    background-color: #EEF4ED;
    margin-bottom: 5px;
}

nav {
    background-color: #326D6C;
    padding: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    max-width: 13vw;
}

nav a {
    color: black;
    text-decoration: none;
}

.profileButton {
    border: none;
    background-color: #85B093;
    width: 20vw;
    border-radius: 20px;
    font-size: 2rem;
    padding: 20px;
    margin-right: 2vw;
}

#homePageQuestions {
    background-color: #85B093;
    margin: 0 auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#homePageQuestions h3 {
    padding-top: 1vh;
}

#homePageQuestions button {
    font-size: 2rem;
    background-color: #EEF4ED;
    border: none;
    border-radius: 20px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 35vw;
    padding-left: 35vw;
}

.submitButton {
    margin-top: 25px;
}

#dropdownContent {
    text-align: left;
}

#dropdownContent2 {
    text-align: left;
}

.buttons {
    text-align: left;
    margin-bottom: 75px;
}

.buttons button {
    background-color: #85B093;
    border: none;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 8px;
    padding-left: 8px;
    margin-left: 10px;
}

.recommendations {
    background-color: #85B093;
    margin-bottom: 0;
}

.recommendation {
    padding: 20px;
    background-color: #EEF4ED;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.backButton {
    width: 20px;
    background-color: #85B093;
    border: none;
}

.backButtonImage {
    width: 15px;
    background-color: #85B093;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.profileData label {
    background-color: #EEF4ED;
}

.profileData a {
    text-decoration: none;
    color: lightgray;
}

.profileData img {
    width: 50%;
    border-radius: 50%;
}

input {
    background-color: #BDD1BD;
    border: none;
}

.upperProfile {
    display: flex;
    align-items: center;
}

.nameInputs {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.profileImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}